.spot {
    width: 100%;
    height: 50px; /* Adjust the height of the parking spot as needed */
    background-color: #20982a; /* Set the background color */
    position: relative;
}

.spot.hovered {
    background-color: #aaf; /* Set the background color for the hovered state */
}

.spot.hovered, .spot.hovered.taken {
    background-color: #aaf; /* Set the background color for the hovered state */
    cursor: pointer;
}
.spot.taken {
    background-color: #f12d2d;
}

.parking-spot-info {
    position: absolute;
    top: 0;
    left: 100%; /* Position the info next to the parking spot */
    background-color: #fff; /* Set the background color for the info box */
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none; /* Hide by default */
    z-index: 3;
}

.spot:hover .parking-spot-info {
    display: block; /* Display the info box on hover */
}