.login-img-container {
    height: 100%;
    width: 36rem;
    background-image: url("../../assets/login_image.png");
    padding-bottom: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-stack {
    display: flex;
    align-items: flex-start !important;
}

.form-heading {
    font-size: 1.75rem;
    font-weight: 500;
}

.form-subtext {
    font-size: 0.875rem;
    font-weight: 700;
    color: #CDCDCD;
    margin-bottom: 3rem;
}

.form-label {
    font-size: 0.875rem !important;
    font-weight: 700 !important;;
    color: black;
}

.email-input {
    margin-bottom: 2.5rem;
}

.forgot-pw-button {
    color: #CDCDCD;
    cursor: pointer;
}

.register-button-container {
    padding: 0;
    margin: 2rem !important;
    width: auto !important;
    position: absolute;
    top: 0;
    right: 0;
}

.register-label {
    font-size: 0.875rem;
    font-weight: 700;
    color: #CDCDCD;
}

@media screen and (max-width: 1200px) {
    .login-img-container {
        height: 16rem;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }

    .register-button-container {
        top: 16rem;
    }
}