.register-img-container {
    height: 100%;
    width: 36rem;
    background-image: url("../../assets/register_image.png");
    padding-bottom: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-stack {
    display: flex;
    align-items: flex-start !important;
}

.form-heading {
    font-size: 1.75rem;
    font-weight: 500;
}

.form-subtext {
    font-size: 0.875rem;
    font-weight: 700;
    color: #CDCDCD;
    margin-bottom: 3rem;
}

.form-label {
    font-size: 0.875rem !important;
    font-weight: 700 !important;;
    color: black;
}

.email-input {
    margin-bottom: 2.5rem;
}

.forgot-pw-button {
    color: #CDCDCD;
    cursor: pointer;
}

.back-button-container {
    padding: 0 !important;
    margin: 2rem !important;
    width: auto !important;
    position: absolute;
    top: 0;
    right: 0;
}

.register-input {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .register-img-container {
        height: 16rem;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .form-stack {
        align-items: center !important;
        padding-top: 1rem;
    }

    .register-button-container {
        top: 16rem;
    }
}

@media screen and (max-width: 600px) {
    .form-container {
        width: auto !important;
        margin: 0 !important;
    }
}